<%- layout('layout') -%>
<div id="mobile-brackets">
  <% Object.keys(brackets).reverse().forEach(function(roundNum, index){ %>
    <div class="round-page">
      <div class="top-bg"></div>
      <h2>
        <% if(index > 0){ %><span class="left arrow">&#12296;</span><% } else { %>
          <% if(!user){ %>
            <div class="secret">
              <a href="/login">&prod;</a>
            </div>
          <%}%>
        <% } %>
          Round of <%= roundNum %>
        <% if(index < 4){ %><span class="right arrow">&#12297;</span><% } %>
      </h2>
      <div class="round-content">
      <% var round = brackets[roundNum]; %>
      <% Object.keys(round).forEach(function(position){ %>
        <% bracket = round[position] %>
        <div class="match" data-position="<%=position%>" data-round="<%=bracket.round%>" data-date="<%=bracket.date%>" data-location="<%=bracket.location%>">
          <div class="contender first">
            <%- partial('bracket',{band : bracket.bands[0], bracket : bracket, bandNum : bracket.position, index : 0}) -%>
          </div>
          <div class="contender second">
            <%- partial('bracket',{band : bracket.bands[1], bracket : bracket, bandNum : (bracket.round/2) + bracket.position, index : 1}) -%>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  <% }) %>
</div>
<%- partial('infoOverlay') -%>
